
<section>
	<span>
		<h2 style="display:inline">{{dash.selfData.name}}</h2>, <h4 style="display:inline">{{dash.getPrivilege(dash.selfData.privilege)}}</h4>
	</span>
	<br/>
	joined <i>{{dash.selfData.join_date | date}}</i>
	<hr></hr>
	You have {{dash.selfData.posts.length}} posts.
</section>